{% extends "admin_bootstrap.html" %}


{% block head %}

    <style type="text/css">
    #menu {
    font:12px verdana, arial, sans-serif; /* 设置文字大小和字体样式 */
    }
    #menu, #menu li {
    list-style:none; /* 将默认的列表符号去掉 */
    padding:0; /* 将默认的内边距去掉 */
    margin:0; /* 将默认的外边距去掉 */
    }
    </style>
    <style type="text/css">
    #menu li {
    float:left; /* 往左浮动 */
    }
    </style>
    <style type="text/css">
    #menu li a {
    display:block; /* 将链接设为块级元素 */
    padding:8px 25px; /* 设置内边距 */
    background:#3A4953; /* 设置背景色 */
    color:#fff; /* 设置文字颜色 */
    text-decoration:none; /* 去掉下划线 */
    border-right:1px solid #000; /* 在左侧加上分隔线 */
    }
    </style>

{% endblock %}


{#{% block body %}#}
{#    {% for post in previeslists %}#}
{#    {{ previeslists.logo }}#}
{#    {% endfor %}    #}
{#{% endblock %}#}


{% block content_header %}
    <li><a href="#"><i class="fa fa-dashboard"></i> 预告管理</a></li>
    <li class="active">预告列表</li>
    <style>
    img{
        width: 50px;
        height: 35px;
    }
    </style>
{% endblock %}


{% block content_col12 %}
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">预告列表</h3>
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right"
                       placeholder="请输入关键字...">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody>
            <tr>
                <th>编号</th>
                <th>预告标题</th>
                <th>预告封面</th>
                <th>添加时间</th>
                <th>操作事项</th>
            </tr>
            {% for i in previeslists %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.title }}</td>
{#                <td>#}
{#                    <img data-src="holder.js/140x64" class="img-responsive center-block" name="select_logo" alt="你的图片被吃掉了"#}
{#                         src="../static/pic/log/{{ i.logo }}">#}
{#                </td>#}
                <td>
                    <img data-src="holder.js/140x64" class="img-responsive center-block" name="select_logo" alt="你的图片被吃掉了"
                         src={{ i.logo }}>
                </td>
                <td>{{ i.addTime }}</td>
                <td>
                    <a class="label label-success">编辑</a>
                    &nbsp;
                    <a class="label label-danger">删除</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{#    <ul id="menu">#}
{#        <li style="float: left;margin-right: 10px;">#}
{#            <a href="{% if pagination.has_prev %}{{url_for('.preview_list',page=pagination.page-1)}}{% else %}#{% endif %}" >«</a>#}
{#        </li>#}
{#            {% for p in pagination.iter_pages() %}#}
{#                <li>#}
{#                <a href="{{ url_for('.preview_list',page=p)}}">{{p}}</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        <li>#}
{#            <a href="{%if pagination.has_next %}{{url_for('.preview_list',page=pagination.page+1)}}{% else %}#{% endif %}" >»</a>#}
{#        </li>#}
{#    </ul>#}
<div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="/admin/preview_list?page=1">首页</a></li>
        <li style="float: left;margin-right: 10px;">
            <a href="{% if pagination.has_prev %}{{url_for('.preview_list',page=pagination.page-1)}}{% else %}#{% endif %}" >«</a>
        </li>
            {% for p in pagination.iter_pages() %}
                <li>
                <a href="{{ url_for('.preview_list',page=p)}}">{{p}}</a>
                </li>
            {% endfor %}
        <li>
            <a href="{%if pagination.has_next %}{{url_for('.preview_list',page=pagination.page+1)}}{% else %}#{% endif %}" >»</a>
        </li>
    </ul>
</div>


{#    <div class="box-footer clearfix">#}
{#        <ul class="pagination pagination-sm no-margin pull-right">#}
{#            <li><a href="#">首页</a></li>#}
{#            <li><a href="#">上一页</a></li>#}
{#            <li><a href="#">1</a></li>#}
{#            <li><a href="#">2</a></li>#}
{#            <li><a href="#">3</a></li>#}
{#            <li><a href="#">下一页</a></li>#}
{#            <li><a href="#">尾页</a></li>#}
{#        </ul>#}
{#    </div>#}
</div>
{% endblock %}
