{% extends "base_bootstrap.html" %}


{% block head %}
    <title>Index</title>
    <style>
    #search_conditions, footer{
        height: auto;
        background-color: #f7f7f7;
    }
    .table{
        margin-bottom: 20px;
        background-color: white;
    }
    #searh_container{
        margin-top: 20px;
        {#border: solid red 1px;#}
    }
    .search_label{
        display: inline-block;
        padding: 3px 6px;
        font-size: 75%;
        font-weight: 900;
        line-height: 1;
        color: #fff;
    }
    .glyphicon {
        margin-right: 5px;
        color:#FFD119
    }
    #searh_container .btn{
        width: 110px;
    }
    .search_result{
        {#border: solid greenyellow 1px;#}
        height: auto;
    }
    .movieitem{
        width: 285px;
        {#height: 150px;#}
        height: auto;
        float: left;
    }
    .movie_content{
        margin: 0 10px 20px 5px;
        background-color: white;

    }
    .search_result .btn{
        margin: 10px 0 10px 0;
        width: 220px;
        height: 40px;
    }
    .movie_desc_info{
        padding: 10px 15px 10px 25px;
    }
    .movieitem img{
        height: 290px;
        width: 220px;
        margin-top: 10px;
    }
    .movie_name{
        font-style: oblique;
        font-size: 16px;
        color: #a3a3a3;
    }
    </style>
{% endblock %}


{% block body_page %}

<!--- 图片轮播，先不写 --->
<section id="hotmovie" style="margin-top:76px">
    <div style="padding-left: 8%;padding-right: 8%;">
        <div class="row wow fadeInRight" data-wow-delay="0.6s">
            <div class="row">
                <iframe class="wow fadeIn" width="100%" height="375px" frameborder=0 scrolling=no src="../animation"></iframe>
            </div>
        </div>
    </div>
</section>
<!--轮播图片 -->

<!-- 搜索条件栏 -->
<div id="search_conditions" style="padding-left: 6%;padding-right: 6%;">
    <div id="searh_container" >
        <table class="table table-bordered">
            <tr>
                <td style="width: 10%">电影标签</td>
                <td style="width: 90%">
                    <a class="search_label">
                        <button type="button" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-tag"></span>
                            标签一
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-tag"></span>
                            标签一
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-tag"></span>
                            标签一
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-tag"></span>
                            标签一
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-tag"></span>
                            标签一
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td style="width: 10%">电影星级</td>
                <td style="width: 90%">
                    <a class="search_label">
                        <button type="button" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-star"></span>
                            一星
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-star"></span>
                            二星
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-star"></span>
                            三星
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-star"></span>
                            四星
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-star"></span>
                            五星
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td>上映时间</td>
                <td>
                    <a class="search_label">
                        <button type="button" class="btn btn-default btn-xs" style="background-color: grey; color: white">
                            <span class="glyphicon glyphicon-time"></span>
                            最近
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-default btn-xs" style="background-color: grey; color: white">
                            <span class="glyphicon glyphicon-time"></span>
                            2017
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-default btn-xs" style="background-color: grey; color: white">
                            <span class="glyphicon glyphicon-time"></span>
                            2016
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-default btn-xs" style="background-color: grey; color: white">
                            <span class="glyphicon glyphicon-time"></span>
                            2015
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-default btn-xs" style="background-color: grey; color: white">
                            <span class="glyphicon glyphicon-time"></span>
                            更早
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td style="width: 10%">播放数量</td>
                <td style="width: 90%">
                    <a class="search_label">
                        <button type="button" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                            从高到低
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                            从低到高
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td style="width: 10%">评论数量</td>
                <td style="width: 90%">
                    <a class="search_label">
                        <button type="button" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                            从高到低
                        </button>
                    </a>
                    <a class="search_label">
                        <button type="button" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-arrow-up"></span>
                            从低到高
                        </button>
                    </a>
                </td>
            </tr>

        </table>
    </div>
    <!-- 搜索条件栏 -->

    <!-- 结果栏 -->
    <div class="search_result">

        <div class="movieitem">
            <div class="movie_content">
                <div class="movie_desc_info">
                    <img  src="../static/pic/pic_12/movie.jpg">
                    <div style="width: 230px;">
                        <div class="movie_name">环太平洋</div>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="/play" class="btn btn-primary" target="_blank" role="button">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;播放
                        </a>
                </div>
            </div>
        </div>
        <div class="movieitem">
            <div class="movie_content">
                <div class="movie_desc_info">
                    <img  src="../static/pic/pic_12/aiqing.jpg">
                    <div style="width: 230px;">
                        <div class="movie_name">环太平洋</div>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;播放
                        </a>
                </div>
            </div>
        </div>
        <div class="movieitem">
            <div class="movie_content">
                <div class="movie_desc_info">
                    <img  src="../static/pic/pic_12/beifang.jpg">
                    <div style="width: 230px;">
                        <div class="movie_name">环太平洋</div>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;播放
                        </a>
                </div>
            </div>
        </div>
        <div class="movieitem">
            <div class="movie_content">
                <div class="movie_desc_info">
                    <img  src="../static/pic/pic_12/gan.jpg">
                    <div style="width: 230px;">
                        <div class="movie_name">环太平洋</div>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;播放
                        </a>
                </div>
            </div>
        </div>
        <div class="movieitem">
            <div class="movie_content">
                <div class="movie_desc_info">
                    <img  src="../static/pic/pic_12/gege.jpg">
                    <div style="width: 230px;">
                        <div class="movie_name">环太平洋</div>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;播放
                        </a>
                </div>
            </div>
        </div>
        <div class="movieitem">
            <div class="movie_content">
                <div class="movie_desc_info">
                    <img  src="../static/pic/pic_12/qigchun.jpg">
                    <div style="width: 230px;">
                        <div class="movie_name">环太平洋</div>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;播放
                        </a>
                </div>
            </div>
        </div>
        <div class="movieitem">
            <div class="movie_content">
                <div class="movie_desc_info">
                    <img  src="../static/pic/pic_12/xiaoshenke.jpg">
                    <div style="width: 230px;">
                        <div class="movie_name">环太平洋</div>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;播放
                        </a>
                </div>
            </div>
        </div>
        <div class="movieitem">
            <div class="movie_content">
                <div class="movie_desc_info">
                    <img  src="../static/pic/pic_12/yichuhaoxi.jpg">
                    <div style="width: 230px;">
                        <div class="movie_name">环太平洋</div>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;播放
                        </a>
                </div>
            </div>
        </div>
        <div class="movieitem">
            <div class="movie_content">
                <div class="movie_desc_info">
                    <img  src="../static/pic/pic_12/zhaohua.jpg">
                    <div style="width: 230px;">
                        <div class="movie_name">环太平洋</div>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;播放
                        </a>
                </div>
            </div>
        </div>
        <div class="movieitem">
            <div class="movie_content">
                <div class="movie_desc_info">
                    <img  src="../static/pic/pic_12/movie.jpg">
                    <div style="width: 230px;">
                        <div class="movie_name">环太平洋</div>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;播放
                        </a>
                </div>
            </div>
        </div>
        <div class="movieitem">
            <div class="movie_content">
                <div class="movie_desc_info">
                    <img  src="../static/pic/pic_12/movie.jpg">
                    <div style="width: 230px;">
                        <div class="movie_name">环太平洋</div>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;播放
                        </a>
                </div>
            </div>
        </div>
        <div class="movieitem">
            <div class="movie_content">
                <div class="movie_desc_info">
                    <img  src="../static/pic/pic_12/movie.jpg">
                    <div style="width: 230px;">
                        <div class="movie_name">环太平洋</div>
                        <div>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                            <span class="glyphicon glyphicon-star-empty" style="color:#FFD119"></span>
                        </div>
                    </div>
                    <a href="play.html" class="btn btn-primary" target="_blank" role="button">
                        <span class="glyphicon glyphicon-play"></span>
                        &nbsp;播放
                        </a>
                </div>
            </div>
        </div>

    </div>
    <!--  电影列表 -->

    <nav aria-label="Page navigation" style="clear: both;">
        <div style="text-align: center">
            <ul class="pagination" style="">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            </ul>
        </div>
    </nav>


</div>
{% endblock %}