{% extends "base_bootstrap.html" %}

    {% block head %}
{#        <title>Title</title><link  type="text/css" rel="stylesheet" href="{{ url_for('home.static',filename='regist.css') }}">#}
        <style>
        .regist_form{
            width: 350px;
            height: 450px;
            margin-left: 400px;
            margin-top: 110px;
            border: solid #D1E9E9 1px;
        }
        .registformtitle{
            width: 350px;
            height: 40px;
            line-height: 40px;
            background-color:#D1E9E9 ;
            font-size: 18px;
            color: 	#006030;
        }

        .rform_content{
            margin: 0 20px;
        }
        .rForm_item{
            width: 310px;
            height: 35px;

        }
        .icon_rForm , .regist_word, #icon_rForm{
            display: inline-block;
            height: 35px;
            line-height: 35px;
            color: #464646;
        }
        #rForm_title_word{
            color: 	#006030;
        }

        .r_inputbox{
            background-color: white;
            width: 308px;
            height: 34px;
            line-height: 37px;
            border:solid #b7b7b7 1px;
        }
        .r_submitbox{
            background-color: #29a151;
            color: white;
            width: 310px;
            height: 40px;
            line-height: 35px;
            border:solid #808080 1px;
            margin-top: 15px;
            font-size: 16px;
        }

        </style>
    {% endblock %}


{% block mypage_container %}

    <div class="regist_form">
        <div class="registformtitle">
            <div class="rform_prompt">&nbsp;
                <i class="fa fa-plus" aria-hidden="true" style="margin-left: 10px;"></i>&nbsp;
                <span class="regist_word" id="rForm_title_word">会员注册</span>
            </div>
        </div>

        <div class="rform_content">
            <form method="POST" action="/regist">

                <div class="rForm_item">
                    <span class="icon_rForm" id="icon_userName"><i class="fa fa-user" aria-hidden="true"></i></span>&nbsp;
                    <span class="regist_word" id="userName">{{ rForm.username.label }}</span>
                    {% for error in rForm.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="rform_input">
                    {{ rForm.username(class='r_inputbox') }}
                </div>


                <div class="rForm_item">
                    <span class="icon_rForm" id="icon_email"><i class="fa fa-envelope" aria-hidden="true"></i></span>&nbsp;
                    <span class="regist_word" id="email">{{ rForm.email.label }}</span>
                    {% for error in rForm.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="rform_input">
                    {{ rForm.email(class='r_inputbox') }}
                </div>


                <div class="rForm_item">
                    <span class="icon_rForm" id="icon_phone"><i class ="fa fa-mobile" aria-hidden="true" ></i></span>&nbsp;
                    <span class="regist_word" id="phone">{{ rForm.phone.label }}</span>
                    {% for error in rForm.phone.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="rform_input">
                    {{ rForm.phone(class='r_inputbox') }}
                </div>


                <div class="rForm_item">
                    <span class="icon_rForm" id="icon_pwd"><i class="fa fa-lock" aria-hidden="true"></i></span>&nbsp;
                    <span class="regist_word" id="pwd">{{ rForm.pwd.label }}</span>
                    {% for error in rForm.pwd.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="rform_input">
                    {{ rForm.pwd(class='r_inputbox') }}
                </div>

                <div class="rForm_item">
                    <span class="icon_rForm" id="icon_pwd"><i class="fa fa-lock" aria-hidden="true"></i></span>&nbsp;
                    <span class="regist_word" id="checkpwd">{{ rForm.checkpwd.label }}</span>
                    {% for error in rForm.checkpwd.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>


                <div class="rform_input">
                    {{ rForm.checkpwd(class='r_inputbox') }}
                </div>

                <div>
                    {{ rForm.submit(class="r_submitbox") }}
                </div>
            {{ rForm.csrf_token }}

            </form>
        </div>
    </div>
{% endblock %}




